# Russian Examples, Documentation
examples/ru/*   @CalciumKing
lang.csv        @CalciumKing
README.md       @CalciumKing

# Thai Examples, Debugger File
examples/th/*   @petepoop
debug/*         @petepoop

# Compiler is co-owned
lang.py         @CalciumKing @petepoop
