# Russian/Gen Alpha Examples, Documentation
examples/ru/*   @CalciumKing
examples/gen_alpha/* @CalciumKing
lang.csv        @CalciumKing
README.md       @CalciumKing
CONTRIBUTING.md @CalciumKing
.github/*       @CalciumKing
LICENSE         @CalciumKing

# Thai Examples, Debugger File
examples/th/*   @petepoop
debug/*         @petepoop

# Compiler is co-owned
lang.py         @CalciumKing @petepoop
